<%-include('partials/header')%>

	<div class="hero">
		<div class="hero-text">
			<h2>CREATE AND READ A POST</h2>
		</div>
	</div>

	<div class="testing">
		<p>Express your feelings through your post.</p>
	<div>

	<script src="/parallax.js"></script>
<%-include('partials/footer')%>


